/* ===============================
This is the style for the style guide

Although the style guide uses the same css
as the main site. It it ok for individual
pages to have individual css.
================================ */

/* 

==================================
 TABLE OF CONTENTS
==================================
	1. CHAT CONTAINER
	2. CHAT HEADER
	3. CHAT MESSAGE
	4. CHAT INPUT
	5. CHAT NAME SELECTION
	6. MISC

*/
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

/*
==================================
1. PAGE
==================================
*/

.sg_component_container,
.sg_transp_bg
{
    /* checked background*/
    background-image: 
        linear-gradient(45deg, #f1f1f1 25%, transparent 25%),
        linear-gradient(-45deg, #f1f1f1 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #f1f1f1 75%), 
        linear-gradient(-45deg, transparent 75%, #f1f1f1 75%);
      background-size: 20px 20px;
      background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.sg_transp_bg
{
    padding: 25px 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.list_sansbullet
{
    list-style: none;  
}

/* Section expand / hide */
.sg_squish
{
    max-height: 0;
    transition: .1s max-height ease-in-out;
    overflow-y: hidden;
    float: left;
    width: 100%;
}

.sg_expand
{
    max-height: 10000px;
    transition: 1s max-height ease-in-out;
    overflow-y: hidden;
    float: left;
    width: 100%;
}
.sg_expand + .sg_squish_msg
{
    display: none;
}

/*
==================================
2. BRAND
==================================
*/


.sg_brand_bg
{
    background-color: #37a8ec;
}
.sg_brand_box
{
    padding: 25px 15px;
    border: 1px solid #ccc;
}
.sg_panel {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

/*
==================================
3. COLOR
==================================
*/


.sg_panel pre
{
    max-height: 250px;
}
.sg_color
{
    display: inline-block;
    text-align: center;
    margin: 0 0.5%;
    padding: 10px;
    width: 18.5%;
    overflow: hidden;
    border: 1px solid #ccc;
    /* http://jsfiddle.net/leaverou/SUgfD/?utm_source=website&utm_medium=embed&utm_campaign=SUgfD */
    background: white;
    font-family: monospace;
    font-size: 12px;
    
}
/* This is the only media query in the whole damn project. weird huh */
@media screen and (max-width: 1120px)
{
    .sg_color
    {
        width: 45%;
    }
}

.sg_color_name
{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.sg_color .sg_transp_bg > div:first-child {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 0 auto;
    
}
.sg_brand_primary
{
    background-color: $brand-primary;
}
.sg_text_color
{
    background-color: $text-color;
}
.sg_light_text
{
    background-color: $light-text;
}
.sg_body_bg
{
    background-color: $body-bg;
}
.sg_content_bg
{
    background-color: $content-bg;
}

/*
==================================
4. COMPONENTS
==================================
*/


.sg_component_container
{
    padding: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.sg_component_container .navbar
{
    margin-bottom: 0;
}
.sg_component_container .short_header
{
    margin-top: 0;
}
.sg_component_container .navbar-brand:before
{
    content: none;
}

/*
==================================
4.2 MAP VIDEO
==================================
*/

    .sg-map-container {
        margin: 0 auto;
        width: 800px;
        max-width: 100%;
    }
    .sg-map {
        position: relative;
    }
    .sg-map img
    {
        max-width: 100%;
    }
    .sg_dropper {
        width: 5%;
        height: 12%;
        display: inline-block;
        position: absolute;
        left: 0%;
        top: 0%;
        margin: 0;
        box-sizing: content-box;
        padding: 0;
        background-image: url('img/Map_pin_icon.svg_.png');
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        z-index: 1;
    }
    .sg_dropper:hover
    {
        margin-top: -5px;
        cursor: pointer;
    }

    /* Video Player */

    .sg_video_player
    {
        position: relative;
        overflow: hidden;
    }
    .sg_video_player:hover
    {
        cursor: pointer;
    }
    .sg_video_player:hover .sg_video_overlay
    {
        opacity:1;
    }
    .sg_video_overlay
    {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 15px;
        z-index: 1;
        /*opacity: 0;*/
        transition: 0.5s opacity linear;
    }
    .sg_video_overlay:before,
    .sg_video_overlay:after
    {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 150px;
        transition: 1s top ease-in-out, 1s bottom ease-in-out;
        z-index: -1;
    }
    .sg_video_overlay:before
    {
        top: 0;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100&1+0,0+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(69,72,77,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(69,72,77,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(69,72,77,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0045484d',GradientType=0 ); /* IE6-9 */

    }
    .sg_video_overlay:after
    {
        bottom:0;

       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100&0+0,1+100 */
        background: -moz-linear-gradient(top,  rgba(69,72,77,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(69,72,77,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(69,72,77,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    }
    .sg_video_player:hover .sg_video_overlay:before
    {
        top:0;
    }
    .sg_video_player:hover .sg_video_overlay:after
    {
        bottom:0;
    }
    .sg_video_title
    {
        color: white;
        font-size: 22px;
    }
    .sg_video_controls
    {
        border-top:1px solid rgba(254,254,254,0.5);
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        color: white;
        text-align: center;

    }
    .sg_video_play_button
    {
        font-weight: bold;
        width: 10%;
        font-size: 150%;
        float: left;
    }
    .sg_video_time_control
    {
        width: 80%;
        float: left;
        margin-top: 23px;
        border-top: 2px solid #37a8ec;
        
        &:before
        {
            content: "";
            display: inline-block;
            position: absolute;
            width:10px;
            height: 10px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid #37a8ec;
            top: 19px;
            left: 20%;
        }
    }

    .sg_full
    {
        font-weight: bold;
        width: 10%;
        font-size: 150%;
        float: left;
    }

    .sg_video_center_player
    {
        position: absolute;
        color: white;
        text-align: center;
        font-size: 60px;
        height: 60px;
        line-height: 60px;
        text-shadow: 0 0 25px black, 0 0 75px black, 0 0 100px black;
        width: 100%;
        top: 50%;
        margin-top: -30px;
    }

/*
==================================
4.2 CMS POSTS
==================================
*/
    /* These are _all_ prefixed wrong TODO fixme */
    .as_post
    {
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        overflow: hidden;
        position: relative;
    }
    .as_post_image_container
    {
        padding: 0;
    }
    .as_post_image
    {
        height: 275px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .as_post_content
    {
        padding: 15px;
        height: 275px;
        overflow: hidden;
    }
    .as_post_head
    {
        color: #666;
        margin-bottom: 15px;
    }

    .as_post_title a
    {
        color: #333;
    }
    .as_post_title h3
    {
        margin: 5px 0;
        margin-bottom: 10px;
    }
    .as_post_text
    {
        height: 115px;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .as_post_btn
    {
        position: absolute;
        bottom: 15px;
        right: 30px;
    }

    /* POST FULL  */

    .as_post_full .as_post_image_container
    {
        padding: 0 2%;
    }
    .as_post_full .as_post_image
    {
        height: 350px;
    }
    .as_post_full .as_post_content
    {
        height: auto;
    }
    .as_post_full .as_post_text
    {
        height: auto;
    }

    /* POST AUTHOR */

    .as_post_author
    {
        background-color: white;
        padding: 15px;
        text-align: center;
    }
    .as_post_author_img
    {
        border-radius: 50%;
        max-width: 200px;
    }
    .as_post_author_desc
    {
        text-align: left;
        color: #666;
    }



/* MISC */
.sg_browser_table
{
    table-layout: fixed;
    min-width: 50%;
    text-align: center;
    border: 1px solid #ccc;
}
.sg_browser_table td, .sg_browser_table th
{
    border: 1px solid #ccc;
    padding: 5px 0;
}